LATITUDE=55.7807302
LONGITUDE=-4.4716651
ALTITUDE_METERS=217
ALTITUDE_FEET=712
TZ=Europe/London
BEASTHOST=172.24.32.11
BEASTPORT=30005
ADSBEXCHANGE_UUID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
ADSBEXCHANGE_SITENAME=my_sitename
PIAWARE_FEEDERID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
FR24KEY=fr24keyhere
RBFEEDER_KEY=rbfeeder_key_here